<div class="container">
  <div class="form-signin">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <h2 class="form-signin-header">Resend confirmation instructions</h2>
      <%= devise_error_messages! %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control form-border" %>
      <%= f.button "Resend confirmation instructions", class: "btn btn-primary btn-large btn-block form-border", data: { disable_with: "<i class='fa fa-spinner'></i> Emailing confirmation......." }  %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

    
