<div class="container">
  <div class="form-signin">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h2 class="form-signin-heading">Sign up</h2>
      <%= devise_error_messages! %>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Enter your name", autofocus: true, required: true, class: "form-control" %>
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "Email address", required: true, class: "form-control" %>
      <%= f.label :password %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control" %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: "form-control" %>
      <%= f.label :profile_image %><i>(upload an image of yourself)</i>
      <%= f.attachment_field :image, class: "form-border", direct: true %>
      <%=  %>
      <%= f.button "Sign up", class: "btn btn-primary btn-large btn-block form-border", data: { disable_with: "<i class='fa fa-spinner'></i> Signing up......." } %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div> 
</div>






